@using Bitrix.Blog.Controls
@using Bitrix.Security
@using Bitrix.IO
@model BlogSideBar2

<div class="blog-content">
    @{
        string name = null;
        string profile = null;
        BXUser user = null;   
        BXFile avatar = null;
        if (Model.Blog.Owner != null && (user = Model.Blog.Owner.User) != null && (avatar = user.Image) != null)
        { 		
            name = user.GetDisplayName();
            profile = Model.Component.ResolveTemplateUrl(Model.UserProfileUrlTemplate, Model.Replace);
        }        
    }
    
    @if (avatar != null)
    {
    <ul>
        <li class="blog-tags">
            <div class="blog-sidebar-avatar">
                @if (!string.IsNullOrEmpty(profile))
                {
                    @:<a href="@profile">
                }
                <img src="@HttpUtility.HtmlAttributeEncode(avatar.FilePath)" title="@name" border="0" width="@avatar.Width" height="@avatar.Height" alt="" />
                @if (!string.IsNullOrEmpty(profile))
                {
                    @:</a>
                }
            </div>
        </li>
    </ul>
    }
    
    @if (Model.Auth.CanEditThisBlogSettings || Model.Auth.CanCreatePost || Model.Auth.CanReadThisBlogDrafts)
    {
    <ul>
        <li class="blog-settings">
            <h3 class="blog-sidebar-title">@this.GetMessage("Header.Blog")</h3>
            <ul>
                @if (!string.IsNullOrEmpty(Model.NewPostUrlTemplate) && Model.Auth.CanCreatePost)
                {
                    <li><a href="@Model.Component.ResolveTemplateUrl(Model.NewPostUrlTemplate, Model.Replace)" title="@this.GetMessage("ToolTip.NewPost")">@this.GetMessage("NewPost")</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.DraftPostListUrlTemplate) && Model.Auth.CanReadThisBlogDrafts)
                {
                    <li><a href="@Model.Component.ResolveTemplateUrl(Model.DraftPostListUrlTemplate, Model.Replace)" title="@this.GetMessage("ToolTip.Drafts")">@this.GetMessage("Drafts")</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.BlogEditUrlTemplate) && Model.Auth.CanEditThisBlogSettings)
                {
                    <li><a href="@Model.Component.ResolveTemplateUrl(Model.BlogEditUrlTemplate, Model.Replace)" title="@this.GetMessage("ToolTip.Settings")">@this.GetMessage("Settings")</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.MetaWeblogUrlTemplate) && Model.Auth.CanWriteFilteredHtml && Model.Auth.CanCreatePost)
                {
                    <li><a href="@Model.Component.ResolveTemplateUrl(Model.MetaWeblogUrlTemplate, Model.Replace)" title="@this.GetMessage("ToolTip.MetaWeblog")">Model.MetaWeblog</a></li>
                }
            </ul>
        </li>
    </ul>
    }
    @if (BlogSideBar2.IsSearch)
    {
    <ul>
        <li class="blog-tags-cloud">
            <h3 class="blog-sidebar-title">@this.GetMessage("Header.TagCloud")</h3>
            <div align="center">
                <div runat="server" id="TagsCloudContainer" class="search-tags-cloud" style="width: 100%;"></div>
            </div>
        </li>
    </ul>
    }
    @if (!string.IsNullOrEmpty(Model.RssBlogPostsUrlTemplate))
    {
        string url = Model.Component.ResolveTemplateUrl(Model.RssBlogPostsUrlTemplate, Model.Replace);
        <ul>
            <li class="blog-rss">
                <h3 class="blog-sidebar-title">
                    <span style="float: right;"><a href="@url" title="@this.GetMessage("ToolTip.Rss")" class="blog-rss-icon"></a></span>
                    <a href="@url" title="@this.GetMessage("ToolTip.Rss")">@this.GetMessage("Header.Rss")</a>
                </h3>
            </li>
        </ul>
    }
</div>
